@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200..800&display=swap');


html,
body,
:root{
  padding:0;
}


@layer base {
  h1, h2, h3, h4, h5, h6{
    @apply font-inter font-bold uppercase;
}

h2 {
    @apply text-2xl tracking-wider;
}

a {
    @apply font-inter font-bold;
}

p {
    @apply font-gemunu font-medium;
}

}


::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(76, 0, 130, 0.87);
  border-left: 0px solid #cecece;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  transition: 0.5s alternate all ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  
}